/*
black: #101010;
green: #27C7AB;
lighter grey: #F1F1F1;
light grey: #F9F9F9;
medium grey: E4E4E4;
grey: #C2C2C2;

FONTS:
font-family: Tahoma, sans-serif;
font-family: Raleway, sans-serif;
font-family: Arial, sans-serif;
 */
/*GENERAL STYLING*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Raleway, Tahoma, Arial, sans-serif;
  font-size: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}

.heading {
  border-bottom: 13px solid #27C7AB;
  width: auto;
}

@media (max-width: 640px) {
  .heading {
    margin: auto;
  }
}

.heading--medium {
  font-size: 1.5rem;
}

@media (max-width: 1100px) {
  .heading--medium {
    font-size: 2rem;
  }
}

.heading--big {
  font-size: 3rem;
  width: 40%;
}

@media (max-width: 500px) {
  .heading--big {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .heading {
    border-width: 8px;
  }
}

@media (max-width: 640px) {
  .heading--big,
  .heading--medium {
    text-align: center;
    padding-bottom: .5rem;
  }
}

.special-text {
  color: #27C7AB;
  text-transform: uppercase;
}

button {
  border: none;
  margin: 0 auto;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #27C7AB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #101010;
}

.button:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.button--small {
  width: 200px;
  height: 50px;
  border-radius: 7px;
  font-size: 1.5rem;
  margin: 15px auto;
}

.button--medium {
  height: 100px;
  border: none;
  width: 380px;
  font-size: 2rem;
}

.button a {
  color: #FFF;
  text-decoration: none;
}

@media (max-width: 1380px) {
  .button--medium {
    width: 300px;
    height: 80px;
    font-size: 1.5rem;
  }
}

@media (max-width: 980px) {
  .button--medium {
    width: 350px;
    height: 100px;
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .button--medium {
    width: 280px;
    height: 80px;
    font-size: 1.75rem;
  }
}

.price__card {
  position: relative;
  width: 32%;
  text-align: center;
  height: 750px;
  padding: 1rem;
  margin: 2rem auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.price__card:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.price__card--circle--top {
  width: 100px;
  height: 100px;
  background-color: #FFF;
  border-radius: 50%;
  border: 2px solid #AEAEAE;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.price__card--circle-inner {
  height: 50px;
  width: 50px;
  background-color: #AEAEAE;
  border-radius: 50%;
  margin: auto;
}

.price__card--main {
  margin: -2rem auto 0 auto;
  text-align: center;
  border: 2px solid #AEAEAE;
  background-color: #F9F9F9;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__card--main h2 {
  margin: 2.5rem auto;
  font-size: 3rem;
  color: #27C7AB;
}

.price__card--main--circle {
  background-color: #FFF;
  border: 2px solid #AEAEAE;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.price__card--main--circle h3 {
  font-size: 4rem;
  color: #AEAEAE;
}

.price__card--main--circle p {
  margin-top: 1rem;
  color: #AEAEAE;
}

h3 sup {
  font-size: 2.5rem;
  vertical-align: top;
}

.price__card--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
}

.price__card--main ul {
  margin: 4rem 0 0 0;
}

.price__card--main li {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.price__card--main li:nth-child(odd) {
  background-color: #E7E7E7;
}

.price__card--main li:nth-child(even) {
  background-color: #F1F1F1;
}

@media (max-width: 1160px) {
  .price__card {
    min-width: 33.333%;
  }
  .price__card--main h2 {
    margin: 2rem auto;
    font-size: 2rem;
  }
  .price__card--main li {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.25rem;
  }
  .price__card--main--circle h3 {
    font-size: 3rem;
  }
  h3 sup {
    font-size: 2rem;
    vertical-align: top;
  }
  .price__card--main--circle {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 900px) {
  .price__card--circle--top,
  .price__card--circle-inner {
    display: none;
  }
  .price__card {
    width: 70%;
    height: auto;
    margin: 3rem auto;
    padding: .25rem 0;
  }
  .price__card--main {
    height: auto;
  }
}

@media (max-width: 540px) {
  .price__card {
    width: 90%;
  }
  .offer__box {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: .75rem;
  }
}

@media (max-width: 450px) {
  .price__card {
    width: 96%;
  }
  .offer__box {
    font-size: 1rem;
  }
}

/*featured card*/
.price__card--featured .price__card--circle--top,
.price__card--featured .price__card--main,
.price__card--featured .price__card--main h2 {
  background-color: #27C7AB;
  border: 2px solid #27C7AB;
}

.price__card--featured .price__card--circle-inner,
.price__card--featured .button--small {
  background-color: #FFF;
}

.price__card--featured .price__card--main--circle {
  border: 2px solid #27C7AB;
}

.price__card--featured .price__card--main--circle h3,
.price__card--featured h3 sup,
.price__card--featured .button--small a {
  color: #27C7AB;
}

.price__card--featured .price__card--main h2 {
  color: #FFF;
}

.checkbox {
  visibility: hidden;
  display: none;
}

.custom-checkbox--wrapper {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 20px;
}

.custom-checkbox {
  position: absolute;
  top: 30px;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #27C7AB;
}

.custom-checkbox i {
  display: none;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox--wrapper input:checked ~ .custom-checkbox i {
  display: block;
}

.custom-checkbox--wrapper .custom-checkbox i {
  text-align: center;
  font-size: 60px;
  color: #27C7AB;
}

.checkbox-custom-label {
  width: 350px;
  display: inline-block;
  color: #AEAEAE;
  font-size: 1.5rem;
  margin: 0 0 20px 70px;
}

.header {
  background-color: #101010;
  color: #FFF;
  height: 84px;
  text-transform: uppercase;
}

.header__logo {
  float: left;
  font-size: 2rem;
  font-weight: bold;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  float: right;
  height: 84px;
}

.navbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 160px;
  position: relative;
  text-align: center;
}

.navbar a {
  color: #AEAEAE;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
}

.navbar a:hover {
  color: #27C7AB;
  letter-spacing: 3px;
}

@media (max-width: 1400px) {
  .navbar {
    width: 50%;
  }
  .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__logo {
    margin-left: 2rem;
  }
}

/*dropdown menu*/
.dropdown-menu {
  opacity: 0;
  display: none;
  position: absolute;
  text-align: center;
  top: 80px;
  left: -25px;
  width: 160px;
  padding-top: 1.5rem;
  background-color: #000;
  clip-path: polygon(0 10%, 30% 10%, 50% 0, 70% 10%, 100% 10%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 30% 10%, 50% 0, 70% 10%, 100% 10%, 100% 100%, 0 100%);
}

.dropdown-menu > li {
  font-size: 1rem;
  display: block;
  padding: 1rem 0;
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#CECDD5));
  background: linear-gradient(#F6F6F6, #CECDD5);
}

button.arrow {
  display: inline-block;
  font-size: 10rem;
  color: #27C7AB;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 5;
}

.arrow-left:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.arrow-right:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.jumbotron > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.jumbotron__description {
  width: 45%;
  margin: 0 0 0 -10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jumbotron__description h2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
}

.jumbotron__description p {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 80%;
  margin: 2rem auto;
}

.jumbotron__armchair {
  width: 55%;
  margin-left: -8%;
}

.slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider > li {
  display: none;
}

li.visible {
  display: inline-block;
  width: 98%;
}

.slider li.visible > img {
  width: 100%;
  height: auto;
}

/*JUMBOTRON MEDIA QUERIES*/
@media (max-width: 1580px) {
  .jumbotron__description {
    width: 40%;
  }
}

@media (max-width: 1380px) {
  .jumbotron__description h2 {
    font-size: 2.5rem;
  }
  button.arrow {
    font-size: 7rem;
  }
}

@media (max-width: 1180px) {
  .jumbotron > .container {
    padding: 2.5rem auto;
  }
  .jumbotron__description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jumbotron__description h2 {
    font-size: 2rem;
  }
  .jumbotron__description p {
    font-size: 1.5rem;
    margin: 2rem auto;
  }
}

@media (max-width: 980px) {
  .jumbotron > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron__armchair {
    width: 80%;
    margin: auto;
  }
  .jumbotron__description {
    width: 80%;
    margin: auto;
  }
  .jumbotron__description h2 {
    font-size: 3rem;
  }
  .jumbotron__description p {
    font-size: 1.75rem;
  }
  button.arrow {
    display: none;
  }
}

@media (max-width: 640px) {
  .jumbotron > .container {
    padding: 1.5rem 0;
  }
  .jumbotron__armchair,
  .jumbotron__description {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .jumbotron__description {
    font-size: 2.5rem;
  }
  .jumbotron__description p {
    width: 97%;
    font-size: 1.25rem;
  }
}

.offer {
  padding: 3rem 0;
  background-color: #FFF;
}

.offer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 470px;
  width: 31%;
  background-size: cover;
  background-position: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 0;
  overflow: hidden;
}

.featured__title {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 40px 0 40px 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.offer__featured:hover .featured__title {
  -webkit-transform: translateY(160px);
          transform: translateY(160px);
}

.offer__featured--1 {
  background-image: url("../images/box1_img.jpg");
}

.offer__featured--2 {
  background-image: url("../images/box2_img.jpg");
}

.offer__box {
  width: 30%;
  border: 2px solid #F1F1F1;
  height: 540px;
  padding: 61px 37px;
  font-size: 1rem;
  line-height: 1.5;
}

.offer__box p {
  margin-top: 2rem;
}

@media (max-width: 1250px) {
  .offer > .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__featured {
    min-width: 48%;
    height: 400px;
  }
  .offer__box {
    margin-top: 2rem;
    min-width: 100%;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 1.5rem;
    height: auto;
  }
}

@media (max-width: 800px) {
  .offer__featured {
    min-width: 100%;
    margin: 2rem auto;
  }
}

@media (max-width: 470px) {
  .offer__box p {
    font-size: 1.1rem;
  }
}

/*PRICES SECTION*/
.prices {
  background-color: #F1F1F1;
  padding: 5rem 0;
  height: auto;
}

.heading__container {
  min-width: 100%;
}

.prices > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .prices {
    padding: 2.5rem 0;
  }
  .prices h2 {
    margin-bottom: 3rem;
  }
}

.application {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.application > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application header.align_right {
  text-align: right;
}

.inline {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.form {
  margin-top: 50px;
  position: relative;
}

.drop_down_list {
  border: 1px solid #8de0d2;
  width: 400px;
  height: 50px;
  background-color: white;
  margin-top: 22px;
  padding: 15px 20px;
  position: relative;
}

.list_label {
  font-size: 2rem;
  color: #e2e2e2;
  font-family: 'Raleway', Arial, Tahoma, sans-serif;
  font-weight: 200;
}

.active {
  background: url("../images/form_ok.jpg");
  width: 48px;
  height: 40px;
}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img {
  margin-top: 110px;
  margin-left: 38px;
}

.summary_panel {
  background-color: white;
  width: 100%;
  height: 195px;
  padding: 10px;
  margin-top: 50px;
}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4, .panel_right h4 {
  color: #24baa0;
  font-size: 23px;
}

.panel_left span {
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top: 10px;
}

.sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}

.list_panel li {
  margin-top: 10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

@media (max-width: 1200px) {
  .application > .container {
    padding: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    margin-bottom: 4rem;
  }
  .inline {
    display: block;
  }
  .choice_part {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drop_down_list {
    margin: 1.5rem auto;
    width: 90%;
  }
  .summary_part {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .summary_panel {
    height: 300px;
  }
  .application h3 {
    text-align: center;
  }
  .panel_left {
    width: 34%;
    height: 70%;
  }
  .panel_right {
    width: 64%;
    height: 70%;
  }
  .application button {
    max-width: 50%;
  }
  .panel_left span {
    font-size: 2rem;
  }
  .panel_left h4,
  .panel_right h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .sum,
  .sum_label {
    font-size: 2rem;
  }
  .panel_right span {
    font-size: 2rem;
  }
  .application button {
    width: 100%;
  }
  .application .custom-checkbox {
    left: 50px;
  }
  p.transport-label {
    font-size: 2rem;
    position: absolute;
    top: 272px;
    left: 50px;
  }
  .list_panel {
    width: 350px;
  }
  .list_panel li {
    font-size: 1.75rem;
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .form {
    margin-bottom: 3rem;
  }
  .summary_part {
    width: 100%;
  }
  .summary_panel {
    height: 400px;
  }
  .application h3 {
    text-align: center;
  }
  .panel_left span {
    font-size: 1.5rem;
  }
  .panel_left h4,
  .panel_right h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sum,
  .sum_label {
    font-size: 1.5rem;
  }
  .panel_right span {
    font-size: 1.5rem;
  }
  .list_panel {
    width: 450px;
  }
  .list_panel li {
    font-size: 1.5rem;
    margin-top: 25px;
  }
  .application .custom-checkbox {
    left: 30px;
  }
  p.transport-label {
    left: 30px;
  }
}

@media (max-width: 640px) and (max-width: 530px) {
  .application h3 {
    line-height: 1.5;
  }
  .drop_down_list {
    width: 100%;
  }
  .application .custom-checkbox {
    left: 0;
  }
  p.transport-label {
    left: 0;
  }
}

@media (max-width: 360px) {
  .application {
    padding: 0;
  }
  .application .form {
    margin: 1rem 0;
  }
  .inline {
    padding: 0 .5rem;
  }
  .choice_part {
    margin: 1rem auto;
    padding: .5rem;
  }
  .summary_panel {
    margin-top: 2rem;
  }
  .application h3 {
    margin-top: 3rem;
  }
  .panel_left h4,
  .panel_right h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.section-main-form {
  background-color: #FFF;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-form {
  margin-top: 2rem;
  height: auto;
}

.main-form::after {
  content: "";
  display: block;
  clear: both;
}

.section-main-form > .container {
  padding: 4rem auto;
}

.red-chair-wrapper {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url("../images/red_chair.png");
  background-size: cover;
  background-position: center;
}

.main-form-column--left {
  width: 60%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-column--left input,
.main-form-column--left textarea {
  padding: 1.5rem;
  margin: 1.5rem 0;
  border: 1px solid  #27C7AB;
  font-size: 2rem;
  font-weight: 400;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-form-column--left input:focus,
.main-form-column--left textarea:focus {
  border: 3px solid #101010;
}

.main-form-column--right {
  width: 30%;
  height: 100%;
  float: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-column--left > label {
  display: none;
}

.main-form-column--right .button {
  width: 100%;
}

@media (max-width: 1300px) {
  .image_part {
    display: none;
  }
  .main-form-column--right {
    width: 35%;
  }
  p.agree-label {
    width: 80%;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 0 20px 70px;
  }
  .custom-checkbox {
    position: absolute;
    top: 30px;
    left: 0;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 1000px) {
  .main-form-column--left {
    height: auto;
  }
  .main-form-column--right {
    margin-top: -3rem;
  }
  .main-form-column--left input,
  .main-form-column--left textarea {
    padding: 1rem;
    border: 1px solid #27C7AB;
    font-size: 1.5rem;
    font-weight: 300;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 1.5rem 0;
  }
}

@media (max-width: 900px) {
  .main-form-column--left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .main-form-column--right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
  .red-chair-wrapper {
    display: none;
  }
  .custom-checkbox {
    top: 15px;
    left: 0;
  }
  .checkbox-custom-label {
    width: 80%;
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .main-form-column--right button {
    max-width: 60%;
  }
}

@media (max-width: 745px) {
  p.agree-label {
    width: 90%;
  }
}

@media (max-width: 660px) {
  .section-main-form > .container {
    padding: 0 .5rem;
  }
  .main-form-column--left textarea {
    padding: 1rem;
    border: 1px solid #27C7AB;
    font-size: 1.5rem;
    font-weight: 300;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 1.5rem 0;
    height: 400px;
  }
  p.agree-label {
    width: 80%;
    margin: -9px 0 0 40px;
  }
  .main-form-column--right button {
    margin-top: 2rem;
  }
}

@media (max-width: 590px) {
  p.agree-label {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  p.agree-label {
    font-size: 1.25rem;
    width: 70%;
  }
}

.footer > .container {
  height: 150px;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  color: #AEAEAE;
  font-weight: 500;
  width: 50%;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.footer-nav ul {
  margin-right: 4rem;
}

.footer-nav ul li {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-nav ul li:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.footer-nav ul li:active {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.footer-nav p {
  font-size: 1.5rem;
  color: #5b5a5a;
  text-transform: uppercase;
}

.footer-nav p span {
  font-weight: bold;
}

@media (max-width: 900px) {
  .footer > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .footer-text {
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .footer-nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem;
  }
  .footer-nav p {
    font-size: 2rem;
  }
  .footer-nav ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav img {
    width: 45px;
  }
}

@media (max-width: 710px) {
  .footer > .container {
    padding: 0 .5rem;
  }
  .footer-text p {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    height: 100px;
  }
  .footer-nav ul {
    margin: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*# sourceMappingURL=main.css.map */
