/*
black: #101010;
green: #27C7AB;
lighter grey: #F1F1F1;
light grey: #F9F9F9;
medium grey: E4E4E4;
grey: #C2C2C2;

FONTS:
font-family: Tahoma, sans-serif;
font-family: Raleway, sans-serif;
font-family: Arial, sans-serif;
 */

/*GENERAL STYLING*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Raleway, Tahoma, Arial, sans-serif;
    font-size: 100%;
}

.button {
    border: none;
    margin: 0 auto;
    color: #FFF;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #27C7AB;
    transition: all .2s;
}

.button:hover {
    transform:translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    background-color: #000;
}

.button:active {
    transform:translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
}

.button--small {
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.5rem;
    margin: 15px auto;
}

.button--medium {
    height: 100px;
    border: none;
    width: 380px;
    font-size: 2rem
}

.button a {
    color: white;
    text-decoration: none;
}

.container {
    min-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.heading {
    border-bottom: 13px  solid  #27C7AB;
    width: 60%;
}

.heading--medium  {
    font-size: 1.5rem;
}

.special-text {
    color: #27C7AB;
    text-transform: uppercase;
}

/*HEADER STYLES*/
.header {
    background-color: #101010;
    color: white;
    height: 84px;
    text-transform: uppercase;
}

.header__logo {
    float: left;
    font-size: 2rem;
    font-weight: bold;
    height: 84px;
    display: flex;
    align-items: center;
}

/*NAVIGATION STYLES*/
.navbar {
    display: inline-flex;
    width: 30%;
    float: right;
    height: 84px;
}

.navbar > ul {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    align-items: center;
}

.navbar li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 160px;
    position: relative;
}


.navbar ul li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #C2C2C2;
    text-decoration: none;
    transition: all .2s;
}

.navbar a:hover {
    color: #27C7AB;
    letter-spacing: 3px;
}


/*dropdown menu*/
.dropdown-menu {
    opacity: 0;
    display: none;
    position: absolute;
    text-align: center;
    top: 80px;
    left: -25px;
    width: 160px;
    padding-top: 1.5rem;
    background-color: #000;
    clip-path: polygon(0 10%, 30% 10%, 50% 0,70% 10%, 100% 10%, 100% 100%, 0 100%);
    -webkit-clip-path:polygon(0 10%, 30% 10%, 50% 0,70% 10%, 100% 10%, 100% 100%, 0 100%);
}


.dropdown-menu > li {
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}


/*JUMBOTRON STYLES*/
.jumbotron {
    height: 1075px;
    background: linear-gradient(#F6F6F6, #CECDD5);
}

button.arrow {
    display: inline-block;
    font-size: 10rem;
    color: #27C7AB;
    cursor: pointer;
    background: none;
    border: none;
    transition: all .3s;
    z-index: 5;
}


.arrow-left:hover {
    transform: translateX(-10px);
}

.arrow-right:hover {
    transform: translateX(10px);
}

.jumbotron > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron__description {
    width: 35%;
    margin: 0 0 0 -10%;
    height: 561px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.jumbotron__description h2 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}

.jumbotron__description p {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto 8% auto;
}

.jumbotron__armchair {
    margin-top: 10rem;
    margin-left: -13%;
    height: 827px;
    width: 65%;
}


.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider > li {
    display: none;
}

li.visible {
    display: inline-block;
    width: 98%;

}

.slider li.visible > img {
    width: 100%;
    height: auto;
}


/*OFFER SECTION STYLING*/
.offer {
    padding-top: 55px;
    height: 745px;
    background-color: #FFF;
}

.offer > .container {
    display: flex;
    justify-content: space-between;
}

.offer__featured {
    display: flex;
    height: 470px;
    width: 31%;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    padding: 20px 0;
    overflow: hidden;
}

.featured__title {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 40px 0 40px 60px;
    transition: all .3s;
}

.offer__featured:hover .featured__title {
    transform: translateY(160px);
}

.offer__featured--1 {
    background-image: url("../images/box1_img.jpg");
}

.offer__featured--2 {
    background-image: url("../images/box2_img.jpg");
}

.offer__box {
    width: 30%;
    border: 2px solid #F1F1F1;
    height: 540px;
    padding: 61px 37px;
}

.offer__box p {
    margin-top: 2rem;
}

/*PRICES SECTION*/
.prices {
    background-color: #F1F1F1;
    padding: 5rem 0;
}

.heading__container {
    min-width: 100%;
}

.prices > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading--big {
    font-size: 3rem;
    width: 40%
}

/* price card styling*/
.price__card {
    position: relative;
    width: 32%;
    text-align: center;
    height: 750px;
    padding: 1rem;
    margin: 2rem auto;
    transition: all .3s;
}

.price__card:hover {
    transform: translateY(-30px);

}

.price__card--circle--top {
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 5;
}

.price__card--circle-inner {
    height: 50px;
    width: 50px;
    background-color: #C2C2C2;
    border-radius: 50%;
    margin: auto;
}

.price__card--main {
    margin: -2rem auto 0 auto;
    text-align: center;
    border: 2px solid #C2C2C2;
    background-color: #F9F9F9;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.price__card--main h2 {
    margin: 2.5rem auto;
    font-size: 3rem;
    color: #27C7AB;
}

.price__card--main--circle {
    background-color: #FFF;
    border: 2px solid #C2C2C2;
    border-radius: 50%;
    height: 200px;
    width: 200px;;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.price__card--main--circle h3 {
    font-size: 4rem;
    color: #C2C2C2;
}

.price__card--main--circle p {
    margin-top: 1rem;
    color: #C2C2C2;
}

h3 sup {
    font-size: 2.5rem;
    vertical-align: top;
}

.price__card--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.price__card--main ul {
    margin: 4rem 0 0 0;
}

.price__card--main li {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.price__card--main li:nth-child(odd) {
    background-color: #E4E4E4;
}

.price__card--main li:nth-child(even) {
    background-color: #F1F1F1;
}

/*featured card*/
.price__card--featured  .price__card--circle--top,
.price__card--featured .price__card--main,
.price__card--featured .price__card--main h2 {
    background-color: #27C7AB;
    border: 2px solid #27C7AB;
}

.price__card--featured  .price__card--circle-inner,
.price__card--featured .button--small {
    background-color: #FFF;
}

.price__card--featured .price__card--main--circle {
    border: 2px solid #27C7AB;
}

.price__card--featured .price__card--main--circle h3,
.price__card--featured h3 sup,
.price__card--featured .button--small a {
    color: #27C7AB;
}

.price__card--featured .price__card--main h2 {
    color: #FFF;
}

/*application styling*/
.application {
    background-color: #f9f9f9;
    padding: 60px 0;
    width: 100%;
}

.application > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application header.align_right{
    text-align: right;
}


.inline {
    display:inline-block;
    width:500px;
    padding: 20px;
    vertical-align: top;
}

.form {
    margin-top:50px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 400px;
    height: 50px;
    background-color: white;
    margin-top:22px;
    padding: 15px 20px;
    position: relative;
}

.list_label {
    font-size: 2rem;
    color: #e2e2e2;
    font-family: 'Raleway', Arial, Tahoma, sans-serif;
    font-weight: 200;
}

.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}



.summary_panel {
    background-color: white;
    width:100%;
    height:195px;
    padding:10px;
    margin-top: 50px;

}

.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top:10px;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}
.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}

/* form section styling */
.section-main-form{
    height: 700px;
    background-color: #FFF;
    padding: 4rem 0;
}

.main-form {
    margin-top: 2rem;
    height: 450px;
}

.main-form::after {
    content: "";
    display: block;
    clear: both;
}

.section-main-form > .container {
    padding: 4rem auto;
}

.red-chair-wrapper {
    height: 300px;
    width: 300px;
    background-image: url("../images/red_chair.png");
    background-size: cover;
    background-position: center;
}

.main-form-column--left {
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-form-column--left input,
.main-form-column--left textarea {
    padding: 1.5rem;
    border: 1px solid  #27C7AB;
    font-size: 2rem;
    font-weight: 400;
    transition: all .3s;
}

.main-form-column--left input:focus,
.main-form-column--left textarea:focus {
    border: 3px solid #000;
}


.main-form-column--right {
    width: 30%;
    height: 100%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-form-column--left > label {
    display: none;
}


/*CUSTOM CHECKBOX STYLING*/
.checkbox {
    visibility: hidden;
    display: none;
}

.custom-checkbox--wrapper {
    display: block;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    padding-bottom: 20px;
}

.custom-checkbox {
    position: absolute;
    top: 30px;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,0);
    border: 1px solid  #27C7AB;
}
.custom-checkbox i {
    display: none;
}

.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox--wrapper input:checked ~ .custom-checkbox i {
    display: block;
}
.custom-checkbox--wrapper .custom-checkbox i {
    text-align: center;
    font-size: 60px;
    color: #27C7AB;
}

.checkbox-custom-label {
    width: 350px;
    display: inline-block;
    color: #C2C2C2;
    font-size: 1.5rem;
    margin: 0 0 20px 70px;
}

.transport-label {
    font-size: 2rem;
    margin-top: 10px;
}


.main-form-column--right .button {
    width: 100%;
}



/*footer styling*/
.footer > .container {
    height: 150px;
    padding: 2rem 0;
}

.footer-text {
    float: left;
    color: #C2C2C2;
    font-weight: 500;

}

.footer-nav {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.footer-nav li {
    display: inline-block;
    transition: all .2s;
}

.footer-nav li:hover {
    transform: translateY(-8px);
}

.footer-nav li:active {
    transform: translateY(-4px);
}

.footer-nav p {
    font-size: 1.5rem;
    color: #444;
    text-transform: uppercase;
}

.footer-nav p span {
    font-weight: bold;
}