.header {
  background-color: $color-black;
  color: $color-white;
  height: 84px;
  text-transform: uppercase;

  &__logo {
    float: left;
    font-size: 2rem;
    font-weight: bold;
    height: 84px;
    display: flex;
    align-items: center;
  }
}

@media(max-width: 900px) {
    .header__logo {
      width: 220px;
      float: none;
      margin: 0 auto;
    }
}