//COLORS
$color-black: #101010;
$color-darker-grey: #5b5a5a;
$color-dark-grey: #AEAEAE;
$color-medium-grey: #E7E7E7;
$color-light-grey: #F9F9F9;
$color-lighter-grey: #F1F1F1;
$color-white: #FFF;
$color-green: #27C7AB;

//GRADIENTS
$gray-gradient: linear-gradient(#F6F6F6, #CECDD5);

//SHADOWS
$shadow-small: 0 0.5rem 1rem rgba(0,0,0,0.4);
$shadow-medium: 0 1rem 2rem rgba(0,0,0,0.4);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//TRANSITIONS
$quick-transition: all .3s;

//FONTS
$font-bolder: 700;
$font-bold: 500;
$font-light: 200;


